<html>
<head>
    {% load staticfiles %}
    {% load render_bundle from webpack_loader %}
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet">

     <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>

    <script src="//cdn.rawgit.com/tbosch/autofill-event/v1.0.0/src/autofill-event.js"></script>

   
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'js/stamphub/images.js' %}"></script>
    <script src="{% static 'js/stamphub/plates.js' %}"></script>
    <script src="{% static 'js/stamphub/collections.js' %}"></script>
    <script src="{% static 'js/stamphub/brands.js' %}"></script>

    <script src="{% static 'js/subscribers/controllers.js' %}"></script>
    <script src="{% static 'js/subscribers/authService.js' %}"></script>
    <script src="{% static 'js/subscribers/configAuth.js' %}"></script>
    <script src="{% static 'js/subscribers/validate.js' %}"></script>
    -->
    
</head>

<body>
    <!-- Content injected here -->
    <div id="app"></div>
    <!-- {% render_bundle 'main' %} -->
    <script src="{% static 'bundles/client.min.js' %}"></script>

</body>
</html>