/* Helper Classes */


.side-p {
    padding: 0 24px;
}


.p-none {
    padding: 0 !important;
}


.m-none {
    margin: 0 !important;
}


.p-l-none {
    padding-left: 0 !important;
}


.p-r-none {
    padding-right: 0 !important;
}


.p-t-none {
    padding-top: 0 !important;
}


.p-b-none {
    padding-bottom: 0 !important;
}


.m-l-none {
    margin-left: 0 !important;
}


.m-r-none {
    margin-right: 0 !important;
}


.m-t-none {
    margin-top: 0 !important;
}


.m-b-none {
    margin-bottom: 0 !important;
}


.errorlist {
    padding: 0;
    list-style-type: none;
    color: darkred;
}


.strip-list {
    list-style-type: none;
}


/* Base.html Styles */


html, body {
    height: 100%;
    width: 100%;
}


body {
    background-color: orange;
}


#site-wrapper {
    min-height: 100%;
    width: 100%;
    background-color: #f5fafc;
    display: inline-block;
}


#content-container {
    min-height: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #cccccc;
}

#sidebar-container {
    margin-top:30px;
    margin-bottom:30px; 
    border:1px solid #cccccc;
    background-color:white;
    min-height:200px;
}

.footer {
    background: #353F45;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}


/* Account List & Detail Pages */


.ad-mh {
    font-weight: normal;
}


#new-contact {
    padding: 6px 24px;
}


.ci-td-p-r {
    padding: 12px 24px 0 12px !important;
    width: 10px;
}


.ci-td-p-l {
    padding-left: 24px !important;
}


.ad-control {
    float: right;
    display: inline-block;
    padding: 9px 0;
    font-size: 12px;
}


.gi-body {
    clear: both;
}


.nm {
    margin: 0;
}


.gi-sh {
    margin-bottom: 5px;
}


#gi-form textarea#id_desc {
    height: 138px;
}


.gi-form-addr {
    height: 25px;
    padding-left: 3px;
    margin-bottom: 3px;
}


#gi-form .errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


#gi-form-submit {
    float: right;
}

.form-checkbox {
    width:30px;
    height:30px;
}

.medium-checkbox {
    width:20px;
    height:20px;
}

.fa-plus-square {
    color:green;
}

.fa-minus-square {
    color:red;
}

.ad-container {
    margin-bottom: 72px;
}

.plate-photo {
    /*height:auto;
    width:auto;*/
    max-width:300px;
    max-height:300px;
}

.plate-preview-photo {
    height:auto;
    width:auto;
    max-width:200px;
    max-height:200px;
}


.ad-headers {
    background-color: #808080;
    padding: 6px 24px;
    color: #f1f1f1;
}


.gi-header {
    border-bottom: 1px solid #bfbfbf;
}


#gi-container {
    padding: 0 24px;
}


#gi-form .gi-mh {
    width: 100%;
}


#cd-body {
    width: 100%;
    margin: 0 auto;
}


#cd-table {
    margin-bottom: 0;
}


#cd-table td {
    border-top: none;
    border-bottom: 1px solid #dddddd;
}


.co-item-date {
    font-size: 12px;
    color: #ccc;
    font-style: italic;
}


.co-item {
    border-bottom: 1px solid #ccc;
    padding: 12px 24px;
}


.co-item-h {
    margin-bottom: 3px;
}


#comm-form {
    margin-top: 20px;
}


#comm-form td {
    border-top: none !important;
}


.comm-submit {
    float: right;
}


#comm-form-internals {
    display: none;
}


#co-form-wrapper {
    padding: 0 24px;
}


.comm-submit-td {
    padding-right: 0 !important;
}


.pen {
    background-image: url('../images/pen.png');
    width: 10px;
    height: 10px;
    display: block;
}


.cancel {
    background-image: url('../images/cancel.png');
    width: 10px;
    height: 10px;
    display: block;
}


.comm-control {
    float: right;
    margin-left: 10px;
}


#contact-form {
    padding: 0 24px;
}


#contact-form td {
    border: none;
}


#contact-form table {
    margin-bottom: 0;
}


#contact-submit {
    float: right;
    margin-right: 8px;
}


#al-container {
    /*position: relative;*/
    min-height: 660px;
}


#al-control {
    margin-top: 20px;
}


#al-search {
    width: 88.5%;
    display: inline-block;
}


#al-group {
    padding: 0;
    margin-top: 24px;
}


.al-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 18px;
    padding-bottom: 5px;
    display:inline-block;
    width:100%;
}


.al-name {
    display: inline;
}


.al-created {
    float: right;
}


#al-paginate ul {
    padding: 0;
}


.con-cntrl {
    padding: 12px 0 0 6px !important;
    width: 10px;
}

.con-cntrl a {
    float: right;
}


/* Signup Page */


#payment-form table td {
    border: none;
    padding: 5px 15px 0 0;
}


#payment-form table th {
    border: none;
    padding: 6px 0 0 0;
}


.sn-sh {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}


#payment-submit {
    float: right;
    margin-bottom: 24px;
    margin-right: 15px;
}


/* Marketing Page Styles */


#mkt-container {
    min-height: 100%;
}


.mkt-nav {
    height: 66px;
    background-color: #f7fbfd;
    border: none;
}


.mkt-nav .navbar-brand {
    color: #d35301;
    font-size: 24px;
}

.mkt-nav .navbar-brand:hover {
    color: #F8501C;
}

#welcome-message {
    color: #ff6600;
    padding: 15px;
}

.mkt-nav .navbar-collapse ul li a {
    color: #425c71;
}


.mkt-s1 {
    background-color: #425c71;
}


.mkt-s1-body {
    color: #f3f8fb;
}


.sign-up {
    margin: 24px 15px;
    font-size: 18px;
}


.mkt-vp {
    text-align: center;
    margin-top: 60px;
}


.mkt-s2-h {
    margin-top: 60px;
    text-align: center;
}


.mkt-s2-body {
    display: inline-block;
}


.sgn-btm {
    display: block;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* Login Page */


.lgn-container {
    margin: 30px auto;
    float: none;
}

.db-header {
    height:50px;
    border:1px solid #cccccc;
    padding:0;
    background-color:white;
}

.db-nav-container {
    display:inline-block;
    float:left;
}

.db-nav-menu {
    list-style:none;
    margin:0;
    display:inline-block;
    line-height:0;
    padding:0;
}

.nav-menu-active {
    border-bottom: 3px solid #0384b4 !important;
}

.db-nav-menu li {
    float:left;
    border-right:1px solid #dadada;
}


.db-nav-menu li a {
    line-height: 0;
    color: #586578;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0 21px 0;
    display: block;
    border-bottom: 3px solid transparent;
    width: 120px;
    text-align: center;
}

.db-nav-menu-active {
    border-bottom: 3px solid #0384b4 !important;
}